<span>Student List</span><br>
<!--<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let stud of students" (click)="onSelect(stud)" [class.selected]="stud===selectedStudent">
        <td>{{stud.id}}</td>
        <td>{{stud.name}}</td>
        <td>{{stud.gender}}</td>
    </tr>
  </tbody>
</table>
<div>
    <button type="button" class="btn btn-success" (click)="addNewStudent();">New Student</button> 
</div>-->

<!--<student-detail></student-detail>--> <!-- This working, check for life cycle method. -->

<px-data-table [tableData] ='students' 
              striped="true"  selectable
              filterable="true" 
              show-column-chooser="true" 
              table-columns="true" 
              table-rows="true" 
              hide-pagination-control="true">

              <px-data-table-column name="name" type="string" filterable="true" sortable="true"></px-data-table-column>
              <px-data-table-column name="gender" type="string" filterable="true" sortable="true"></px-data-table-column>
</px-data-table>